<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.giszka.bookweb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_wat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wat_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookWeb">
        <activity android:name=".BooksListActivity"
                  android:label="Lista Książek"
            >


        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="@string/main_page"
            android:theme="@style/Theme.BookWeb.NoActionBar">

        </activity>
        <activity
            android:name=".AboutProgramActivity"
            android:label="O programie">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Book Master">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>